@model Chamados54WebApp.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<div class="row">
    <div class="offset-4 col-md-4 offset-4">
        <h1>Login</h1>
        <h4>Entre com sua conta de usuário</h4>
        <hr />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group text-center p-4">
                <input type="submit" value="Entrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
            <div class="form-group text-center p-2"> 
                <a asp-action="Cadastro" class="btn-link">Não tem conta? Cadastre-se</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
